<template name="ionmain">
	{{#ionBody}}
  		{{> ionNavBar name="TARAS"}}

  		{{#ionNavView}}
    		{{> yield}}
  		{{/ionNavView}}
  		{{#ionTabs class="tabs-positive tabs-icon-top"}}
		  {{> ionTab title="News" path="news" iconOff="ios-paper" iconOn="ios-paper"}}
		  {{> ionTab title="Todos" path="todos" iconOff="checkmark-circled" iconOn="checkmark-circled"}}
		  {{> ionTab title="Profile" path="profile" iconOff="person" iconOn="person"}}
		{{/ionTabs}}
	{{/ionBody}}
</template>

<template name="ioncontent">
	{{#contentFor "headerButtonLeft"}}
	  {{>ionNavBackButton}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
	  <h1 class="title">Notifications</h1>
	{{/contentFor}}

	{{#ionView}}
	   {{#ionContent}}
		  {{#ionList class="my-class"}}
		    {{#each accidents}}
		      <h2>{{location}}</h2>
		      <p>{{date}}</p>
		    {{/each}}
		  {{/ionList}}
		{{/ionContent}}
	{{/ionView}}
</template>