<template name="login">
	<div class="container">
    <div class="row">
        <div class="six columns">

      		  <h3>Sign In</h3>
      		<form class="ui form">
            <div class="field">
            <label>Email</label>
              <input type="email" id="emailaddress" placeholder="Email">
            </div>
            <div class="field">
              <label>Password</label>
                <input type="password" id="Password" placeholder="Password">
            </div>
            <button class="fluid ui green basic button" id="submitform" type="submit">Sign In</button>
          </form>

            <br>
            <br>
      			<hr>
            <br>

      </div>

			</div>
	</div>

</template>

<template name="register">
	<div class="container">
			<hr>

<!--       <form class="ui form">
            <div class="field">
            <label>Email</label>
              <input type="email" id="emailaddress" placeholder="Email">
            </div>
            <div class="field">
              <label for="Password">Password</label>
                <input type="password" id="Password" placeholder="Password">
            </div>
            <div class="field">
              <label for="ConfirmPassword">Confirm Password</label>
                <input type="password" id="ConfirmPassword" placeholder="Password">
            </div>
            <button class="fluid ui green basic button" type="submitform">Register</button>
          </form> -->

      <div class="field">
          <label for="Name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name">
      </div>
      <div class="field">
          <label for="mobileNo">Phone Number</label>
          <input type="text" class="form-control" id="phoneNumber" placeholder="Mobile number">
      </div>
      <div class="field">
          <label for="carNo">Car Number</label>
          <input type="text" class="form-control" id="carNo" placeholder="Car Registration Number">
      </div>

        <div class="field">
          <label for="emergencyNo">Emergency Contact Number</label>
          <input type="text" class="form-control" id="EmergencyNo" placeholder="Emergency Number">
      </div>
			<div class="field">
    			<label for="emailaddress">Email address</label>
    			<input type="email" class="form-control" id="emailaddress" placeholder="Email">
  			</div>
  			<div class="field">
    			<label for="Password">Password</label>
    			<input type="password" class="form-control" id="Password" placeholder="Password">
  			</div>
  			<div class="field">
    			<label for="ConfirmPassword">Confirm Password</label>
    			<input type="password" class="form-control" id="ConfirmPassword" placeholder="Password">
  			</div>
  		  <button class="fluid ui green basic button" id="submitform">Register</button>
		<br>
		<br>
		<br>
	</div>
</template>
