<template name="login">
	<div class="container">

    <div class="row">
        <div class="six columns">
          
      		  <h3>Sign In</h3>
      		<hr>
      		    <!-- <div class="form-group"> -->
          			<label for="emailaddress">Email address</label>
          			<input type="email" class="form-control u-full-width" id="emailaddress" placeholder="Email">
        			<!-- </div> -->
        			<div class="form-group">
          			<label for="Password">Password</label>
          			<input type="password" class="form-control" id="Password" placeholder="Password">
        			</div>
        			<div class="form-group">
            			<button id="submitform" class="button-primary u-full-width">Sign In</button>
      			</div>
            <br>
            <br>
      			<hr>
            <br>

      </div>

      <div class="six columns">
        {{> register }}
      </div>


			</div>
	</div>
  
</template>

<template name="register">
	<div class="container">
			<h3>Register</h3>
			<hr>
			<div class="form-group">
    			<label for="emailaddress">Email address</label>
    			<input type="email" class="form-control" id="emailaddress" placeholder="Email">
  			</div>
  			<div class="form-group">
    			<label for="Password">Password</label>
    			<input type="password" class="form-control" id="Password" placeholder="Password">
  			</div>
  			<div class="form-group">
    			<label for="ConfirmPassword">Confirm Password</label>
    			<input type="password" class="form-control" id="ConfirmPassword" placeholder="Password">
  			</div>
  			<div class="form-group">
      			<button id="submitform" class="button u-full-width">Register</button>
			</div>
		<br>
		<br>
		<br>
	</div>
</template>
