<template name="portal">

{{#each accidents}}
<div class="ui modal" id = "{{this.UserId}}" style="height:50%;">
  <div class="header">{{getUser}}</div>
  <div class="content">
    <p><strong>Name</strong> :{{getUserProfile.name}}</p>
    <p><strong>height</strong>  :{{getUserProfile.height}}</p>
    <p><strong>Weight</strong>  :{{getUserProfile.weight}}</p>
    <p><strong>Allergies</strong>  :{{getUserProfile.allergies}}</p>
    <p><strong>Emergency Contact</strong>  :{{getUserProfile.personalNumbers}}</p>

  </div>
  <div class="actions">
    <div class="ui approve button">Okay</div>
  </div>
</div>
{{/each}}


<div class="container">
{{#if isInRole 'Hospital'}}
<h3>HOSPITAL PORTAL</h3>
<div class="ui top attached tabular menu">
  <a class="active item" data-tab="first">Accidents</a>
  <a class="item" data-tab="second">Accepted Accidents</a>
</div>
<div class="ui bottom attached active tab segment" data-tab="first">
  <div id="accidents">
    {{#if accidents.count}}
      <table class="table">
        <thead>
          <tr>
          <td>Date</td>
          <td>User</td> 
          <td>Accident Address</td>
          <td>PoliceID</td>
          <td>Status</td>
      </tr>
        </thead>
        <tbody>
          {{#each accidents}}
            <tr>
                <td>{{ getAccident.date }}</td>
                <td id="userid">{{ getUser}}</td>  
                <td class="accidentlocation">{{ getAccident.location }}</td>
                <td>{{ getPoliceStation.address }}</td>
                <td><button id="accept" type="button" class="ui red basic button {{#if checkstatus}}disabled{{/if}}">{{#if checkstatus}}Accepted{{else}}Accept{{/if}}</button></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{> portalmap}}
    {{else}}
      <h3>No Accidents now</h3>
    {{/if}}
    </div>
</div>
<div class="ui bottom attached tab segment" data-tab="second">
  <div id="acceptedaccidents">
      <table class="table">
        <thead>
          <tr>
          <td>Date</td>
          <td>User</td> 
          <td>Accident Address</td>
          <td>PoliceID</td>
      </tr>
        </thead>
        <tbody>
          {{#each acceptedaccidents}}
              <tr>
                <td>{{ formatDate getAccident.date }}</td>
                <td>{{ getUser}}</td>  
                <td>{{ getAccident.location }}</td>
                <td>{{ getPoliceStation.address }}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
</div>
{{else}}
{{#if isInRole 'Police'}}
<h3>POLICE PORTAL</h3>
<div class="ui top attached tabular menu">
  <a class="active item" data-tab="first">Accidents</a>
</div>
<div class="ui bottom attached active tab segment" data-tab="first">
<div id="accidents">
    {{#if allaccidents.count}}
      <table class="ui table">
        <thead>
          <tr>
          <td>Date</td>
          <td>User</td> 
          <td>Accident Address</td>
          <td>Status</td>
          <td>Hospital</td>
      </tr>
        </thead>
        <tbody>
          {{#each allaccidents}}
              <tr>
                <td>{{ getAccident.date }}</td>
                <td>{{ getUser}}</td>  
                <td class="accidentlocation">{{ getAccident.location }}</td>
                <td>{{#if checkstatus}}<button class="ui green basic button">
                Accepted
              </button>
              {{else}}<button class="ui red basic button">
                Pending...
              </button>{{/if}}</td>
                <td>{{ getHospital.address }}</td>
                
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{> portalmap}}
    {{else}}
      <h3>No Accidents now</h3>
    {{/if}}
    </div>
</div>
{{/if}}
{{/if}}
</div>
</template>


<template name="portalmap">
  {{#if portalMapAllow}}
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q={{lat}},{{longt}}&hl=es;z=17&amp;output=embed"></iframe>
  {{/if}}
</template>