<template name="portal">
<div class="container">
{{#if isInRole 'Hospital' 'PoliceStation'}}
<h3>{{#if isInRole 'Hospital'}}Hospital{{else}}PoliceStation{{/if}} PORTAL </h3>
{{#if isInRole 'Hospital'}}
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#accidents">Accidents</a></li>
  <li><a data-toggle="tab" href="#acceptedaccidents">Accepted Accidents</a></li>
</ul>
<div class="tab-content">
   <div id="accidents" class="tab-pane fade in active">
    {{#if accidents.count}}
    	<table class="table">
        <thead>
          <tr>
          <td>Date</td>
          <td>User</td> 
          <td>Accident Address</td>
          <td>PoliceID</td>
          <td>Status</td>
      </tr>
        </thead>
        <tbody>
          {{#each accidents}}
              <tr>
                <td>{{ getAccident.date }}</td>
                <td>{{ getUser}}</td>  
                <td class="accidentlocation">{{ getAccident.location }}</td>
                <td>{{ getPoliceStation.address }}</td>
                <td><button id="accept" type="button" class="ui red basic button {{#if checkstatus}}disabled{{/if}}">{{#if checkstatus}}Accepted{{else}}Accept{{/if}}</button></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{> portalmap}}
    {{else}}
      <h3>No Accidents now</h3>
    {{/if}}
    </div>
    <div id="acceptedaccidents" class="tab-pane fade">
      <table class="table">
        <thead>
          <tr>
          <td>Date</td>
          <td>User</td> 
          <td>Accident Address</td>
          <td>PoliceID</td>
      </tr>
        </thead>
        <tbody>
          {{#each acceptedaccidents}}
              <tr>
                <td>{{ formatDate getAccident.date }}</td>
                <td>{{ getUser}}</td>  
                <td>{{ getAccident.location }}</td>
                <td>{{ getPoliceStation.address }}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{else}}

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#acceptedaccidents">Accepted Accidents</a></li>
  <li><a data-toggle="tab" href="#accidents">Accidents</a></li>
</ul>
<div class="tab-content">
    <div id="acceptedaccidents" class="tab-pane fade">
      <table class="table">
        <thead>
          <tr>
          <td>Date</td>
          <td>User</td> 
          <td>Accident Address</td>
          <td>Hospital Address</td>
      </tr>
        </thead>
        <tbody>
          {{#each acceptedaccidents}}
              <tr>
                <td>{{ formatDate getAccident.date }}</td>
                <td>{{ getUser}}</td>  
                <td>{{ getAccident.location }}</td>
                <td>{{ getHospital.address }}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div id="accidents" class="tab-pane fade in active">
    {{#if accidents.count}}
      <table class="table">
        <thead>
          <tr>
          <td>Date</td>
          <td>User</td> 
          <td>Accident Address</td>
          <td>PoliceID</td>
          <td>Status</td>
      </tr>
        </thead>
        <tbody>
          {{#each accidents}}
              <tr>
                <td>{{ getAccident.date }}</td>
                <td>{{ getUser}}</td>  
                <td>{{ getAccident.location }}</td>
                <td>{{ getPoliceStation.address }}</td>
                <td><button id="accept" type="button" class="btn btn-success {{#if checkstatus}}disabled{{/if}}">{{#if checkstatus}}Accepted{{else}}Accept{{/if}}</button></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <h3>No Accidents now</h3>
    {{/if}}
    </div>
  </div>
  {{/if}}
{{else}}
  <h3>Page only accessible to Hospital and Police Stations</h3>
{{/if}}
</div>
</template>


<template name="portalmap">
  {{#if portalMapAllow}}
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q={{lat}},{{longt}}&hl=es;z=17&amp;output=embed"></iframe>
  {{/if}}
</template>