<template name="profile">
  <div class="ui text container">


     <h2> Welcome, {{ userprofile.name }} </h2>
     {{#if Template.subscriptionsReady}}
     <form class="ui form">
      
      <div class=" field">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" value= "{{userprofile.name}}">
      </div>
      <div class=" field">
        <label for="mobileNo">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder value= "{{userprofile.mobileNo}}">
      </div>
    

     
      <div class=" field">
        <label for="carNo">Car Number</label>
        <input type="text" class="form-control" id="carNo" name = "carNo" placeholder="Car Number" value= "{{userprofile.carNo}}">
      </div>

      <div class=" field">
        <label for="emergencyNo">Emergency Contact Number.</label>
        <input type="text" class="form-control" id="EmergencyNo" name="EmergencyNo" placeholder="Emergency Number" value= "{{userprofile.personalNumbers}}">
      </div>
     

      <div class="">
        <button id="updateform" class="fluid ui primary green basic button">Update</button>
      </div>

    </form>
    {{/if}}
</div>



</template>