html,body {width:100%;height:100%;margin:0;padding:0;}
.map-container{
	display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:50px;
}

.map-container2{
	width: 100%;
	height: 100px;
}

.orange-circle-button {
    box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
    border: .5em solid #E84D0E;
    font-size: 1em;
    line-height: 1.1em;
    color: #ffffff;
    background-color: #e84d0e;
    margin: auto;
    border-radius: 50%;
    height: 7em;
    width: 7em;
    position: absolute;
    left: 1%;
    bottom: 1%;
}
.orange-circle-button:hover {
    color:#ffffff;
    background-color: #e84d0e;
    text-decoration: none;
    border-color: #ff7536;
    
}
.orange-circle-button:visited {
    color:#ffffff;
    background-color: #e84d0e;
    text-decoration: none;
    
}
.orange-circle-link-greater-than {
    font-size: 1em;
}